<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngenge.apps.jokes_display_library">

    <application>
        <activity android:name="com.ngenge.apps.jokes_display_library.JokesDisplayActivity"></activity>
    </application>

</manifest>